.row-header {
  margin: 0px auto;
  padding: 0px 0px;
}
.row-content {
  margin: 0px auto;
  padding: 20px 0px;
  border-bottom: 2px ridge;
  min-height: 300px;
}
footer {
  background-color: black;
  margin: 0px auto;
  padding: 20px 0px;
  color: gold;
}
.jumbotron {
  margin: 0px auto;
  padding: 70px 30px;
  background-color: black;
  color: gold;
}
address {
  font-size: 90%;
  margin: 0px;
}
.copyright {
  padding: 50px;
}
.handle {
  margin-left: 42px;
}
.tab-content {
  border-left: 2px solid #ddd;
  border-bottom: 2px solid #ddd;
  border-right: 2px solid #ddd;
  padding: 10px;
}
.login {
  cursor: pointer;
}
.carousel {
  background-color: black;
}
.carousel .carousel-item {
  height: 230px;
}
.carousel .carousel-item img {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 230px;
  max-width: 200px;
}
#carouselButton {
  right: 0px;
  bottom: 0px;
  position: absolute;
  z-index: 1;
}
