.jumbotron {
    background-color: black;
    color: gold;
}

.row-header {
    margin: 0px auto;
    padding: 0px auto;
}

.row-content {
    border-bottom: 2px ridge;
    padding: 50px 0px 50px 0px;
    min-height: 40px;
}

footer {
    background-color: black;
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    color: gold
}

address {
    font-size: 90%;
    margin: 0px auto;
}

.copyright {
    padding: 50px;
}

.handle {
    margin-left: 42px;
}

.cotainer div div h5 ul li a {
    color: white;
}